/*metronic*/
.portlet.light>.portlet-title {
  padding: 10px 0 0 0;
}
.page-container-bg-solid .page-title, .page-container-bg-solid .page-title small {
  color: #333;
}
.mt-checkbox-inline, .mt-radio-inline {
  padding: 0;
}
.mt-checkbox, .mt-radio {
  margin-bottom: 0;
  padding-left: 25px;
}
.feeds li .col1>.cont>.cont-col2>.desc {
  margin-left: 80px;
}
.feeds li .col1>.cont>.cont-col1>.label {
  width: 75px;
}

/*custom*/
.ticket-image {
  max-height: 250px;
}
.txt-decline-reason {
  margin-bottom: 10px;
}
.row-delete {
  background-color: #95A5A6!important;
}
.no-margin-btm {
  margin-bottom: 0;
}
.calendar-selected {
  background-color: #0c91e5!important;
}
.calendar-assigned-other-ticket {
  background-color: #F7CA18!important;
  color: #FFF!important;
}
.calendar-assigned-current-ticket {
  background-color: #26C281!important;
  color: #FFF!important;
}
.calendar-assigned-remove {
  background-color: #D91E18!important;
  color: #FFF!important;
}
.calendar-empty {
  color: #BFCAD1!important /*grey-salt*/
}
.txt-num {

}
.search-stat {
  max-width: 110px;
}
.search-txt {
  max-width: 200px;
}
.search-dropdown {
  max-width: 200px;
}
.search-th-stat {
  width: 127px;
}
.search-th-txt {
  width: 217px;
}
.search-th-dropdown {
  width: 217px;
}
.login-logo {
  max-height: 50px;
}


/*fix multiselect options alignment in form-horizontal*/
/*still got issue, background of hover has padding-left*/
.multiselect-container>li:not(.multiselect-filter):not(.multiselect-group) {
  padding-left: 10px;
}
.multiselect-container>li.multiselect-group>a {
  padding: 8px 0;
}
.multiselect-container>li.multiselect-group label {
  padding: 3px 20px 3px 7px
}
.multiselect-container>li>a>label>b {
  padding-left: 3px;
}