.portlet.light>.portlet-title {
  padding: 10px 0 0 0;
}

.page-container-bg-solid .page-title, .page-container-bg-solid .page-title small {
  color: #333;
}

.ticket-image {
  max-height: 250px;
}

/*fix multiselect options alignment in form-horizontal*/
/*still got issue, background of hover has padding-left*/
.multiselect-container>li:not(.multiselect-filter):not(.multiselect-group) {
  padding-left: 10px;
}
.multiselect-container>li.multiselect-group>a {
  padding: 8px 0;
}
.multiselect-container>li.multiselect-group label {
  padding: 3px 20px 3px 7px
}
.multiselect-container>li>a>label>b {
  padding-left: 3px;
}

.mt-checkbox-inline, .mt-radio-inline {
  padding: 0;
}
.mt-checkbox, .mt-radio {
  margin-bottom: 0;
  padding-left: 25px;
}

.no-margin-btm {
  margin-bottom: 0;
}