/*NEW*/
.margin-bottom-40 {
  margin-bottom: 40px;
}
.bold {
  font-weight: bold;
}
.lbl-radio {
  margin-top: 5px;
  margin-bottom: 5px;
}
.r-text {
  font-family: "Raleway";
}

/*custom*/
.ticket-image {
  max-height: 250px;
}
.tbl-office {
  margin-top: 20px;
}
.txt-code {
  text-transform: uppercase;
}
.txt-error {
  border-color: #e73d4a;
}
.about-content {
  line-height: 26px;
}
.alert {
  font-family: 'Raleway';
}
.control-label {
  font-family: 'Raleway';
}

/*STYLE.CSS*/


/*BOOTSTRAP*/
.form-control-static {
  font-family: "Raleway";
}
.page-header {
  padding-top: 5px;
  height: 70px;
  margin: 0;
}
.form-control, .btn, .alert, .panel {
  border-radius: 0 !important;
}
.social-icons.yellow li a, .menu-container .sf-menu li ul, :after, :before {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.alert {
  margin-top: 0px;
  margin-bottom: 20px;
}
.membership-header {
  background-color: #F4BC16;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.help-block {
  font-size: 12px;
}

/*step wizard*/
/*http://bootsnipp.com/snippets/featured/form-wizard-and-validation*/
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}